/* body start */
body {
  margin: 0;
  margin-top: 70px;
  background-color: #f8f4e6
  /* background-color: #fff; */
}
/* スマホcss */
@media screen and (max-width: 922px){
  body {
    font-size: 12px;
  }
  .navbar .navbar-brand {
    margin-left: 10%;
  }
}
/* body end */

/* ドロワーメニュー関係 start */

header {
  padding:10px;
  background: none;
  position: absolute;
  top: 0;
  z-index: 9999;
}

#nav-drawer {
  position: relative;
}
/*ドロワーメニューアイコン*/
.nav-icon #pf-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
  /* vertical-align:top; */
  display: none;
  position: fixed;
  top:12px;
  left:12px;
}
/* スマホcss */
@media screen and (max-width: 922px){
  .nav-icon #pf-icon {
    display: block;
  }
}

/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}
/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
  display: block;/*カバーを表示*/
  opacity: .5;
}
#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);/*中身を表示（右へスライド）*/
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}

/*閉じる用の薄黒カバー*/
#nav-close {
  display: none;/*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0;/*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}


/* ドロワーメニュー中身 */
#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;/*最前面に*/
  width: 60%;/*右側に隙間を作る（閉じるカバーを表示）*/
  max-width: 330px;/*最大幅（調整してください）*/
  height: 100%;
  background: #fff;/*背景色*/
  transition: .3s ease-in-out;/*滑らかに表示*/
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);/*左に隠しておく*/
}

.drawer-menu {
  margin-top: 20px;
  margin-left: 20px;
  padding:0;
  list-style:none;
}
.drawer-brand #pf-icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.drawer-menu-item {
  font-size:1rem;
  display:block;
  padding:.75rem;
  text-decoration:none;
  color:#222;
}
.drawer_names {
  font-size: 14px;
  padding-left: 0;
  /* margin-left: 20px; */
  list-style:none;
  /* margin-right:  20px; */
}
.drawer_userCnt {
  font-size: 14px;
  /* padding-left: 20px; */
  padding-left: .75rem;
  list-style:none;
  /* margin-right:  20px; */
}
.drawer_userCnt li {
  display:inline-block;
}

/* ドロワーメニュー関係 end */


/* aside start*/
aside {
  width: 27%;
}
/* aside end */


/* プロフィール start */
.userProfile-top {
  display: none;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}
.profile {
  background-color: #fff;
  font-size: 14px;
}
.profile a {
  text-decoration: none;
}
.profile .profile-middle {
  padding-left: 10%;
  padding-right: 10%;
}
.profile-middle p {
  font-size: 10px;
}
.profile .profile-upper {
  display: table;
  width: 100%;
  padding-bottom: 30px;
}
.upper-element {
  display: table-cell;
  width: 50%;
  padding-top: 20px;
  padding-left: 20px;
}
.upper-element #pf-icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;

}
.upper-element #user_name {
  margin: 0 auto;
}
.profile-lower {
  display: table;
  padding-top: 20px;
  width:90%;
}
.lower-element {
  display: table-cell;
}
.lower-element ul {
  list-style:none;
  padding-left: 30px;
  font-size: 12px;
}
.profile .follow-btn {
  margin-right: 10px;
  margin-bottom: 10px;
}
.profile-top .follow-btn {
  margin-right: 10px;
  margin-bottom: 10px;
}
/* スマホcss */
@media screen and (max-width: 922px){
  .userProfile {
    display: none;
  }
  .userProfile-top {
    display: block;
  }
}

/* プロフィール end */


/* タブメニュー start*/
.tab-menu {
  color: #fff;
  width:100%;
}
.tab-menu ul {
  padding-left: 0;
  margin: 0;
  text-align: center;
}

.tab-menu li {
  font-size: 10px;
  display: inline-block;
  width: 20%;
  vertical-align: middle;
}

.tab-menu a{
  display: inline-block;
  position: relative;
  text-decoration: none;
  width:100%;
}
.tab-select a {
  border-bottom: solid 2px #0000ff;
  bottom:-1px;
  content: "";
}

.tab-not-select a:before {
  border-bottom: solid 2px #ff0000;
  bottom:-1px;
  content: "";
  left:0;
  display: inline-block;
  position: absolute;
  transform: scale(0, 1);
  transition: 0.4s;
  width:100%;
}

.tab-not-select a:hover:before {
  transform: scale(1);
}

/* タブメニュー end*/

/* article start*/
article {
  margin-left: 5%;
  margin-right: 5%;
  background-color: #fff;
}
/* article end */

/* ツイートフォーム start */
.tweetFrom {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10px;
}

.tweetFrom .tweetArea {
  background-color: #fff;
  resize: none;
  width: 100%;
  height: 80px;
}

.tweetForm .postBtn {
  text-align: right;
  width: 100%;
}
/* ツイートフォーム end */

/* ボーダー設定 start */
hr {
  margin-top: 10px;
  margin-bottom: 0;
  border-width: 1px 0 0 0;
}
hr:first-child {
  margin-top: 0;
}
/* ボーダー設定 end */

/* タイムライン start*/
.contents {
  background-color: #fff;
  margin-top: 10px;
  margin-left: 80px;
  margin-right: 20px;
  position: relative;
}

.contents #userMiniIcon {
  left:-65px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
}

.user_block {
  display: inline-block;
}

.user_block a {
  text-decoration: none;
}

.tweet_action {
  list-style:none;
  padding-left: 0;
}

.tweet_action li {
  display: inline-block;
}

.tweet_action .favorite-btn {
  height: 25px;
  width: 70px;
  padding: 0;
}

.tweet_action .delete-btn {
  height: 25px;
  width: 70px;
  padding: 0;
}

.tweet_action .action {
  display:inline-block;
  margin-right: 80px;
}

.tweet_action img {
  width: 20px;
  height: 20px;
}

/* フォロー */
.contents .user_info ul{
  font-size: 14px;
  padding-left: 0;
  display:inline-block;
  list-style:none;
  margin-right:  20px;
}

/* スマホcss */
@media screen and (max-width: 922px){
  .contents .user_info ul{
    font-size: 10px;
  }
}

/* タイムライン end*/

/* Welcomeページ start*/
.welcomePage {
  text-align: center;
}
.welcomeLabel {
  margin-top: 50px;
}
.welcomeLabel img {
  width:80%;

}
.welcomeSelect {
  margin-top:50px;
  list-style:none;
  font-size: 24px;
  padding-left: 0;
  width: 100%;
}

.welcome-menu a{
  display: inline-block;
  position: relative;
  text-decoration: none;
  width:30%;
}

.welcome-menu a:before {
  border-bottom: solid 2px #ff0000;
  bottom:-1px;
  content: "";
  left:0;
  display: inline-block;
  position: absolute;
  transform: scale(0, 1);
  transform-origin: left;
  transition: 0.4s;
  width:100%;
}

.welcome-menu a:hover:before {
  transform: scale(1);
}

.welcome-menu a img {
  display: none;
}
.welcome-menu a:hover img {
  display: block;
  position: absolute;
  left:-48px;
}

.welcomeFooter {
  margin-top: 200px;
  text-align: center;
}

.welcomeFooter img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

/* Welcomeページ end*/

/* プロフィール変更 start*/
.changedLabel {
  color: red;
  font-size: 12px;
}
/* プロフィール変更 end */
